<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ホーム</title>
</head>
<body>

<h2>ホーム画面</h2>



<!--  メニュー -->
<!-- 全ユーザ共通 -->
<li><a th:href="@{/post}">新規投稿画面</a></li>

<!-- 総務人事部だけ表示 -->
<li th:if="${buttonFlag == 'ON'}">
    <a th:href="@{/user/list}">ユーザ管理画面</a>
</li>

<li><a th:href="@{/logout}">ログアウト</a></li>



<!-- 絞り込みフォーム -->
<form th:action="@{/home}" th:object="${messageSearchForm}" method="get">
    <label>開始日：</label><input type="date" th:field="*{startDate}"><br>
    <label>終了日：</label><input type="date" th:field="*{endDate}"><br>
    <label>カテゴリ：</label>
    <input type="text" th:field="*{category}">
    <button type="submit">絞り込み</button>
</form>


<hr>

<!-- 投稿一覧 -->
<div class="post-area">
    <h3>投稿一覧</h3>

    <!-- 投稿ごとにループ -->
    <div class="post-box" th:each="msg : ${messageList}">
        <div class="post-header">
            <strong th:text="${msg.user.name}">投稿者</strong>
            <span class="post-date" th:text="${#temporals.format(msg.createdDate, 'yyyy/MM/dd HH:mm')}"></span>
        </div>

        <div class="post-content">
            <p th:text="${msg.text}"></p>
        </div>

        <!--投稿のユーザーIDとログインしている人のユーザーIDが同じ時だけボタンを表示  -->
        <div class="delete_button" th:if="${msg.user.id == loginUser.id}">
            <form th:action="@{/message/delete/{id}(id=${msg.id})}" method="post" onsubmit="return confirm('本当に削除しますか？');">
                <input type="submit" value="削除">
            </form>
        </div>
        <!--コメント入力フォーム-->
        <!--th:objectに入れた時点でth:fieldはプロパティを指定できる！-->
        <form th:action="@{/comment}" th:object="${commentForm}" method="post">
            <!--msgidはかわらないものだし保持したいわけでもない。都度取得すればいいものなのでth:field使わなくていい-->
            <!--Controllerの @ModelAttribute CommentForm form では form.getMessageId() に対応する。つまりフォームオブジェクトのプロパティ名と一致させる。-->
            <input type="hidden" name="messageId" th:value="${msg.id}">
            <!--なのでth:fieldはcommentFormのなかのプロパティを指す。システムに知らせてる-->
            <textarea th:field="*{text}" rows="2" cols="40"></textarea>
            <input type="submit" value="コメントする">
        </form>

        <!--  コメントループを投稿ループの中に入れる -->
        <div class="comment-area">
            <div class="comment-box"
                 th:each="c : ${commentList}"
                 th:if="${c.message.id == msg.id}">
                <div class="comment-header">
                    <span th:text="${c.user.name}"></span>
                    <span class="comment-date"
                          th:text="${#temporals.format(c.createdDate, 'yyyy/MM/dd HH:mm')}"></span>
                </div>
                <!--コメント本文-->
                <div class="comment-content">
                    <p th:text="${c.text}"></p>
                </div>
                <!--削除ボタン-->
                <div class="delete_button" th:if="${c.user.id == loginUser.id}">
                    <form th:action="@{/comment/delete/{id}(id=${c.id})}" method="post" onsubmit="return confirm('本当に削除しますか？');">
                        <input type="submit" value="削除">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
