<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新規投稿画面</title>
</head>
<body>

<div class="header-contents">
<h2>新規投稿<h2>
</div>

<div class="main-contents">
    <div th:if="${errorMessages != null}">
        <<li th:each="err : ${errorMessages}" th:text="${err}"></li>
    </div>

    <form th:action="@{/post}" method="post" th:object="${postForm}">
        <label>件名</label>
        <input type="text" th:field="*{title}"><br/>

        <label>本文</label>
        <textarea th:field="*{text}"></textarea><br/>

        <label>カテゴリ</label>
        <input type="text" th:field="*{category}"><br/>

        <button type="submit">投稿</button>
    </form>
</div>
</body>
</html>